data/
outputs/
docs/
models/

.DS_Store
*.pyc
temp/
__pycache__/
behavioral_data/
configs/
*.bvef

otka/4.1. psd.py
notebooks/functional_connectivity.ipynb
notebooks/feature_importance.ipynb
notebooks/bv2bids_ch5.ipynb
4.1. psd.ipynb
notebooks/OldScripts.ipynb
notebooks/24222_findBadCh.py
notebooks/newDocsCreator.ipynb
.ipynb_checkpoints/
venv/
